<div class="preloader flex-column justify-content-center align-items-center protected">
    <img class="animation__wobble" src="~/images/admin/logo.png" alt="LogoLoading" height="60" width="60">
</div>