@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<main class="site-main site-material">
    <section class="section-material">
        <div class="container container--large">
            <div class="section-material__heading">
                <h1 class="section-heading text--center">LIÊN HỆ</h1>
            </div>
            <div>
                <p class="section-description text--center">CÔNG TY CỔ PHẦN HÓA DƯỢC  <b class="text--primary">ANPHA</b></p>
                <p>
                    Nhà máy: 99 Trung Đông 7, Xã Thới Tam Thôn, Huyện Hóc Môn, Thành Phố Hồ Chí Minh.
                </p>
                <p>
                    Văn phòng: 28/8D Tống Văn Hên, Phường 15, Quận Tân Bình, Thành Phố Hồ Chí Minh
                </p
                <br />
                <p class="section-description text--center">Tư vấn, hỗ trợ khách hàng: </p>
                <p>
                    Điện thoại: 0931.424.207 (Hotline)
                </p>
                <p>
                    Fanpage: https://aromatide.com.vn/
                </p>
                <p>
                    Email: anphapharm@gmail.com
                </p>
            </div>
        </div>
    </section>
</main>