@{
    ViewData["Title"] = "Chính sách đổi trả và hoàn tiền";
}
<main class="site-article">
    <section class="article-detail">
        <div class="container container--medium">
            <div class="breadcrumb">
                <div class="breadcrumb__list">
                    <a class="breadcrumb__item" href="http://aromatide.com.vn">
                        <span class="breadcrumb__home">
                            <span class="breadcrumb__icon">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M9.13478 20.7733V17.7156C9.13478 16.9351 9.77217 16.3023 10.5584 16.3023H13.4326C13.8102 16.3023 14.1723 16.4512 14.4393 16.7163C14.7063 16.9813 14.8563 17.3408 14.8563 17.7156V20.7733C14.8539 21.0978 14.9821 21.4099 15.2124 21.6402C15.4427 21.8705 15.7561 22 16.0829 22H18.0438C18.9596 22.0023 19.8388 21.6428 20.4872 21.0008C21.1356 20.3588 21.5 19.487 21.5 18.5778V9.86686C21.5 9.13246 21.1721 8.43584 20.6046 7.96467L13.934 2.67587C12.7737 1.74856 11.1111 1.7785 9.98539 2.74698L3.46701 7.96467C2.87274 8.42195 2.51755 9.12064 2.5 9.86686V18.5689C2.5 20.4639 4.04738 22 5.95617 22H7.87229C8.55123 22 9.103 21.4562 9.10792 20.7822L9.13478 20.7733Z" fill="#200E32"></path>
                                </svg>
                            </span>
                            <span class="text">Trang Chủ</span>
                        </span>
                        <span class="breadcrumb__sep">/</span>
                    </a><a class="breadcrumb__item" href="chinh-sach-doi-tra-va-hoan-tien">
                        Chính sách đổi trả và hoàn tiền
                    </a>
                </div>
            </div>
            <div class="blogs-container">
                <div class="article-detail__content">
                    <h1 class="heading">Chính sách đổi trả và hoàn tiền</h1>
                    <div class="article-content">
                        <p style="text-align: justify;">Quý khách vui lòng kiểm tra hàng ngay sau khi nhận được, đảm bảo sản phẩm đúng số lượng, chủng loại, mẫu mã và chất lượng như yêu cầu. Nếu có sai sót hoặc phát sinh ngoài ý muốn, quý khách vui lòng thông báo cho Cỏ Mềm trong vòng&nbsp;<strong>24h</strong>&nbsp;kể từ khi nhận hàng, kèm theo ảnh chụp gói hàng và toàn bộ sản phẩm nhận được. Cỏ Mềm sẽ tiếp nhận và điều chỉnh đơn hàng cho quý khách trong vòng 48h từ khi nhận được yêu cầu.</p>
                        <h2 style="text-align: justify;"><strong>1. Đổi trả do lỗi sai đơn hoặc lỗi vận chuyển:</strong></h2>
                        <p style="text-align: justify;">Để đảm bảo chất lượng dịch vụ và đem lại cho Quý Khách những trải nghiệm tốt nhất với sản phẩm, Cỏ Mềm áp dụng chính sách đổi hàng với các trường hợp sau:</p>
                        <ol style="text-align: justify;">
                            <li><strong>Nhầm sản phẩm, thiếu hoặc thừa sản phẩm</strong> so với đơn hàng đã xác nhận</li>
                            <li><strong>Sản phẩm bị móp vỡ, gãy hỏng</strong> do vận chuyển</li>
                            <li><strong>Sản phẩm có lỗi kỹ thuật</strong> phát hiện khi sử dụng</li>
                        </ol>
                        <p style="text-align: justify;">Trong 3 trường hợp trên, Cỏ Mềm đổi hàng cho quý khách theo trình tự sau:</p>
                        <ol style="text-align: justify;">
                            <li><strong>Bước 1.</strong>&nbsp;Quý khách vui lòng thông báo cho Cỏ Mềm trong vòng&nbsp;<strong>24h</strong>&nbsp;<strong>kể từ khi nhận hàng</strong>,<strong> kèm theo ảnh chụp gói hàng</strong> và toàn bộ sản phẩm nhận được</li>
                            <li><strong>Bước 2.</strong> <strong>Cỏ Mềm tiến hành gửi mặt hàng thiếu/lỗi, hỏng đúng số lượng và chủng loại</strong> cho quý khách <strong>trong vòng 5 ngày</strong> từ khi nhận được yêu cầu</li>
                            <li><strong>Bước 3</strong>. Quý khách gửi lại mặt hàng thừa/lỗi, hỏng về địa chỉ công ty:&nbsp;số 225 phố Trần Đăng Ninh, phường Dịch Vọng, quân Cầu Giấy, Hà Nội</li>
                            <li><strong>Bước 4.</strong> Trong trường hợp có<strong> phát sinh chênh lệch, Cỏ Mềm chuyển khoản cho quý khách</strong> vào số tài khoản ngân hàng do quý khách cung cấp hoặc quý khách thanh toán phần chênh lệch cho Cỏ Mềm khi nhận được hàng đổi</li>
                        </ol>
                        <p style="text-align: justify;">Phí vận chuyển đổi trả: với sản phẩm cần đổi do 03 lý do trên, quý khách&nbsp;<strong>không phải trả phí</strong>&nbsp;vận chuyển, mọi chi phí vận chuyển phát sinh sẽ do Cỏ Mềm thanh toán bằng hình thức thanh toán trực tiếp cho đơn vị vận chuyển.</p>
                        <h2 style="text-align: justify;"><strong>2. Đổi trả sản phẩm theo mong muốn riêng của khách hàng:&nbsp;</strong></h2>
                        <p style="text-align: justify;">Với mong muốn Khách lựa chọn được sản phẩm tốt và có trải nghiệm hài lòng nhất, cũng như đảm bảo niềm tin vào sản phẩm Cỏ Mềm, khách hàng có thể đổi trả sản phẩm đã mua tại Cỏ Mềm trong vòng&nbsp;<strong>05 ngày</strong>&nbsp;kể từ khi nhận hàng.</p>
                        <p style="text-align: justify;"><strong>Điều kiện đổi trả:</strong></p>
                        <ul style="text-align: justify;">
                            <li><strong>Sản phẩm chưa qua sử dụng, còn nguyên bao bì đóng gói</strong>, đầy đủ phụ kiện nếu có.</li>
                            <li><strong>Bao bì sản phẩm không bị bẩn, méo vỡ, có mùi lạ</strong> hoặc có dấu hiệu bảo quản không đúng với hướng dẫn sử dụng.</li>
                            <li>Còn hoá đơn mua hàng.</li>
                        </ul>
                        <p style="text-align: justify;">Lưu ý:</p>
                        <ul style="text-align: justify;">
                            <li>Sản phẩm chỉ được đổi 01 lần.</li>
                            <li>Quý khách vui lòng thanh toán phí vận chuyển 2 chiều khi yêu cầu đổi trả hàng theo mong muốn.&nbsp;</li>
                            <li>Trong trường hợp có phát sinh chênh lệch, Cỏ Mềm chuyển khoản cho quý khách vào số tài khoản ngân hàng do quý khách cung cấp&nbsp;hoặc quý khách thanh toán cho Cỏ Mềm khi nhận được hàng đổi</li>
                        </ul>
                        <h2 style="text-align: justify;">3. Hoàn trả sản phẩm:</h2>
                        <p style="text-align: justify;">Trong trường hợp khách hàng gặp phản ứng không mong muốn với sản phẩm. Quý khách vui lòng cung cấp hình ảnh về tình trạng gặp phải hoặc giấy khám sức khỏe từ cơ sở y tế để Cỏ Mềm xác nhận.</p>
                        <ul style="text-align: justify;">
                            <li>Cách thức hoàn trả:</li>
                        </ul>
                        <p style="text-align: justify;">Bước 1: <strong>Quý khách gửi hàng về cho Cỏ Mềm</strong> theo quy định (Phí vận chuyển sẽ do Cỏ Mềm thanh toán)</p>
                        <p style="text-align: justify;">Bước 2: <strong>Quý khách cung cấp Số tài khoản của quý khách bằng cách Inbox</strong> cho Cỏ Mềm tại:&nbsp;http://m.me/comemhomelab</p>
                        <p style="text-align: justify;">Bước 3: Cỏ Mềm <strong>hoàn tiền bằng hình thức chuyển khoản</strong> cho quý khách trong vòng 5 ngày làm việc (Không bao gồm ngày nghỉ, lễ tết).</p>
                        <h2 style="text-align: justify;"><strong>Gửi hàng về Cỏ Mềm:</strong></h2>
                        <p style="text-align: justify;">Trong các trường hợp Bảo hành hoặc Đổi trả có yêu cầu gửi hàng về Cỏ Mềm, Quý khách vui lòng đóng gói sản phẩm cẩn thận nhằm đảm bảo trạng thái nguyên vẹn và <strong>gửi hàng cho đối tác vận chuyển trong vòng 48h</strong> kể từ khi hoàn thành việc trao đổi xác nhận thông tin với Cỏ Mềm về đơn hàng. Cỏ Mềm rất tiếc sẽ phải từ chối sản phẩm bị hư hại do lỗi đóng gói sơ sài từ Quý khách.&nbsp;</p>
                        <p style="text-align: justify;">Địa chỉ nhận hàng đổi trả: số 225 phố Trần Đăng Ninh, phường Dịch Vọng, quân Cầu Giấy, Hà Nội</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>