@model OrderItem
@{
    Layout = null;
    string formTitle = (Model.Id == 0) ? "Thêm mới" : "Chỉnh sửa";
}

<style>
    .select2-container--open {
        z-index: 99;
    }
</style>
@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "modalForm", @autocomplete = "off" }))
{
    <div class="modal-header">
        <h4 class="modal-title">Chỉnh sửa</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        @Html.AntiForgeryToken()
        <div asp-validation-summary="All" class="text-danger"></div>
        <input asp-for="Id" type="hidden" />
        @* <input asp-for="Type" type="hidden" class="form-control">
        <div class="form-group row">
            @Html.LabelFor(m => m.Name, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-9">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", required = "" })
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Type" class="col-sm-3 control-label">Type</label>
            <div class="col-sm-9">
                <input asp-for="Type" type="text" class="form-control" disabled>
            </div>
        </div> *@
        <div class="form-group row">
            <label class="col-sm-3 control-label">Sản phẩm</label>
            <div class="col-sm-9">
                <select class="form-control select2" id="productselect" >
                    <option>--Selection--</option>
                </select>
            </div>
        </div> 
    </div>
    <div class="modal-footer justify-content-between">
        <span id="progress" class="text-center" style="display: none;"><img style="width: 15%;" src="~/images/wait.gif" alt="waiting..." />Saving...</span>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
    </div>
}

@* <script src="/plugins/select2/js/select2.min.js"></script> *@
<script src="~/js/admin/hk.orderItem-edit.js"></script>
@* <script>
    $('.select2').select2();

    //Initialize Select2 Elements
    $('.select2bs4').select2({
        width: '100%',
        theme: 'bootstrap4',
    });
</script>      *@
