<div class="social-auth-links text-center mt-2 mb-3">
    <a href="@Url.Action("ExternalLogin", "Account", new { Provider = "Facebook",  })" class="btn btn-block btn-primary">
        <i class="fab fa-facebook mr-2"></i> Đăng nhập bằng Facebook
    </a>
    <a href="@Url.Action("ExternalLogin", "Account", new { Provider = "Google" })" class="btn btn-block btn-danger">
        <i class="fab fa-google-plus mr-2"></i>  Đăng nhập bằng Google+
    </a>
</div>