@using HKMain.Areas.Admin.Models
@{
    ViewData["Title"] = "Xác thực tài khoản";
}
<section class="content">
    <div class="error-page" style="width: 100%;">
        <div class="error-content" style="margin-left: 20px;">
            <h3 style="color: green;"><i class="icon fas fa-check"></i> <b>Xác thực thành công</b></h3>
            <p>
                Bạn đã xác thực tài khoản thành công <a asp-action="Login" asp-controller="Account" asp-area="Admin" class="btn btn-primary mt-xl">Quay lại trang đăng nhập</a>.
            </p>
        </div>
    </div>
</section>
