@using HKMain.Areas.Admin.Models
@model RegisterViewModel
@{
    ViewData["Title"] = "Đăng ký";
}
@section Styles {
    <style type="text/css">
        .validation-summary-errors {
            color: red;
        }
    </style>
}
    <div class="card-body">
        <form asp-area="Admin" asp-action="Register" asp-controller="Account" method="post">
            <div asp-validation-summary="All"></div>
            <div class="input-group mb-3">
                <input asp-for="Email" type="email" class="form-control" placeholder="Email">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input asp-for="Password" type="password" class="form-control" placeholder="Mật khẩu">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Xác thực mật khẩu">
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary btn-block">Đăng ký</button>
                </div>
            </div>
        </form>

        @* <partial name="_LoginEx"> *@

        <a asp-action="Login" asp-controller="Account" asp-area="Admin" class="text-center">Quay lại đăng nhập</a>
    </div>